* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_global {
    width: 380px;
    height: 400px;
    border: 1px solid #000;
    padding: 3px;    
    
}

